body {
    font-family: 'Noto Sans JP', sans-serif;
    color: black
  }
  
  .contain {
    margin-top: 10%
  }
  
  input:focus::placeholder {
    color: transparent;
  }
  
.dropdown {
  padding-top: 20px;
  text-align:center;
  padding-bottom: 5px;
  font-size:20px;
  width: 100%;
  border:none;
  color: #555;
  border-radius: 20px;
  background:none;
  font-size:25px;
}

* {

  box-sizing: border-box;
}

.optionss{
  border:none;
}

