body {
    font-family: 'Noto Sans JP', sans-serif;
    color: black
  }
  
  .contain {
    margin-top: 10%
  }
  
  input:focus::placeholder {
    color: transparent;
  }
  
.dropdown {
  text-align:center;
  padding: 15px 10px 15px 5px;
  width: 100%;
  border:none;
  color: #555;
  border-radius: 20px;
  background:none;
  text-align: center;
}

* {

  box-sizing: border-box;
}

